// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat", sans-serif;
$fontSize: 16px;

// Основные цвета
$white: #ffffff;
$black: #253142;
$blue: linear-gradient(4.19deg, #2c90f7 -17.59%, #05c0cc 115.3%);

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;

// Брейк-поинты
$pc: 1199px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 768px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 480px; // Телефоны L
$mobileSmall: 320px; // Телефоны S
