body {
  font-weight: 400;
  font-style: normal;
  min-width: 320px;
  background: #192431;
  color: #ffffff;

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.container {
  margin: 0 auto;

  // 320 - 380
  @media (min-width: 320px) {
    max-width: 95.652vw;
    padding-left: 10px;
    padding-right: 10px;
  }
  // 380 - 768
  // @media (min-width: $mobile) {
  //   max-width: 95.652vw;
  //   padding-left: 10px;
  //   padding-right: 10px;
  // }
  // 768 - 1199
  @media (min-width: 700px) {
    max-width: 99.609vw;
    padding-left: 20px;
    padding-right: 20px;
  }

  // > 1199
  @media (min-width: $pc) {
    max-width: 1255px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
