body {
  font-weight: 400;
  font-style: normal;
  min-width: 320px;
  background: #1b1b20;
  color: #ffffff;

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.container {
  margin: 0 auto;
  // 320 - 480
  @media (min-width: $mobileSmall) {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
  // 480 - 768
  @media (min-width: $mobile) {
    max-width: 396px;
    padding-left: 10px;
    padding-right: 10px;
  }
  // 768 - 1199
  @media (min-width: $tablet) {
    max-width: 748px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // > 1199
  @media (min-width: $pc) {
    max-width: 1255px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
